body {
    font-family: Arial, sans-serif;
    font-size: 18px;font-weight: normal;font color:red ;
}

/* Select multiple elements */
header, footer {
    background-color: lightblue;
}

/* Class selector */
.site-title {
    color: blue;
}

/* ID selector */
#my-image {
    box-shadow: 0 0 2px 1px black;
}

/* Styling the list */
ul {
    list-style-type: square;
}

/* Using nth-child selector */
li:nth-child(odd) {
    background-color: lightgray;
}

/* Styling the navigation */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a {
    background-color: lightblue;
    border: 1px solid blue;
    padding: 5px 10px;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: blue;
    color: white;
}